# Python
__pycache__/
*.egg-info/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# Project Specific
data/*.db
data/*.sqlite
*.log

# OS
.DS_Store
*.db
*.sqlite
data/checkpoints/*
!data/checkpoints/.gitkeep
